@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply min-h-screen bg-gray-900 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] antialiased from-gray-900 via-cyan-900/10 to-gray-900 text-gray-100;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  color-scheme: dark;
}

input[type='date'] {
  position: relative;
  display: flex;
  flex-direction: row;
}
